__pycache__
.vscode
*.pickle
*.pkl
embedding models
notes
UFSAC-master
wsd*.txt

# a bit of a pyramid here to include WSD files
disambiguate/*
!disambiguate/java
!disambiguate/decode_puns.sh
disambiguate/java/*
!disambiguate/java/src
disambiguate/java/src/*
!disambiguate/java/src/main
disambiguate/java/src/main/*
!disambiguate/java/src/main/java
disambiguate/java/src/main/java/*
!disambiguate/java/src/main/java/PunDecode.java